body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f2f2f2;
}

form {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

textarea, select {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}