caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

table {
    margin: 0 auto;
    width: 70%;
    border: 2px solid rgb(140, 140, 140);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    border-collapse: collapse;
    
}

thead, tfoot {
    background-color: rgb(228, 240, 245);
    
}

th, td {
    border: 1px solid rgb(160, 160, 160);
    /* padding: 8px 10px; */
    padding: 20px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237, 238, 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}